on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]
name: benchmark
jobs:
  benchmark:
    name: "Run criterion benchmark"
    if: contains(github.event.pull_request.labels.*.name, 'benchmark')
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.13.0
        with:
          cluster_name: "kind"
      - name: "Apply RBAC resources"
        run: kubectl apply -k rbac
      - uses: boa-dev/criterion-compare-action@v3
        with:
          # Needed. The name of the branch to compare with. This default uses the branch which is being pulled against
          branchName: ${{ github.base_ref }}
          # Optional. Default is `${{ github.token }}`.
          token: ${{ secrets.GITHUB_TOKEN }}