name: lint

on:
  pull_request:
    branches:
      - main
permissions:
  contents: read
  pull-requests: read
jobs:
  fmt:
    name: Check format with fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo fmt --check
  clippy:
    name: Check with clippy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v5
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  commit:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: number-of-commits
        run: echo "NUM_COMMITS=$((${{ github.event.pull_request.commits }}-1))" >> "${GITHUB_ENV}"
      - uses: aljoshare/commala-action@v0.5.0
        with:
          number-of-commits: ${{ env.NUM_COMMITS }}
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          check_name: 'Commala Report'
          report_paths: 'commala-junit.xml'
          comment: true
          detailed_summary: true
          include_passed: true
      - name: Archive commala logs
        uses: actions/upload-artifact@v4
        with:
          name: dist-without-markdown
          path: |
            commala.log